@charset "uft-8"


html {
    font-size : 100%;
}


.container {
    align-content : space-around;
    align-items : center;
    display : flex;
    flex-direction : row;
    flex-wrap : wrap;
    height : 100vh;
    justify-content : center;
}


.item {
    background : #0bd;
    color : #fff;
    font-family: 'PT Sans', sans-serif;
    font-size : 2rem;
    margin : 10px;
    padding : 10px;
}


.css-grid {
    display : grid;
    grid-template-columns : 1fr 1fr 1fr;
    gap : 10px;
    grid-template-rows : 200px 200px;
}


.item-2 {
    background : #0bd;
    color : #fff;
    padding : 10px;
}
